@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: var(--color-primary);
    --secondary-color: var(--color-secondary);
    --tertiary-color:var(--tertiary-color);
}
.sidebar {
    position: relative;
    top: 0;
    left: 0em;  
    transform: rotate(90deg); 
    transform-origin: 0 0;
  }
  
  .sidebar a {
    font-weight: 300;
    font-size: 1rem;
  }
  
  .sidebar span::after {
    content: '';
    display: inline-block;
    width: calc(100vh - 400px);
    height: 1px;
    background: #7B7B7B;
  }
  /* @media (max-width: 685px) {
    .sidebar {
      display: none;
    }
  } */
